.truncated-text {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Specify the number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.truncated-inline-text-container {
    display: flex;
}

.truncated-inline-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}