@using FPLSP_Tutorial.WASM.Data.Client;
@using FPLSP_Tutorial.WASM.Data.DataTransferObjects.Post;

<div class="row">
    @if(IsLoading)
    {
        for(int i = 1; i <= 4; i++)
        {
            <PostCard IsSkeleton="true" />
        }
    }
    else
    {
        @foreach (var i in ListPost)
        {
            <PostCard Post="@i"/>
        }
    }
</div>

@code {
    [Parameter]
    public List<PostMainDTO> ListPost { get; set; } = new();

    [Parameter]
    public Guid? MajorId { get; set; } = null;

    [Parameter]
    public bool IsLoading { get; set; } = true;

}
