<div style="width: 100%; height: 90vh" class="d-flex align-center justify-center">
    <div class="text-center">
        <div class="d-flex justify-center">
            <MudIcon Icon="@Icons.Material.Filled.ErrorOutline" Style="font-size: 6rem" Color="Color.Error"></MudIcon>
        </div>
        <MudText Typo="Typo.h5" Style="font-weight: 500" Class="mt-2">Trang web không tồn tại</MudText>
    </div>
</div>

@code {

}