@using FPLSP_Tutorial.WASM.Data.DataTransferObjects.Major.Request
@using FPLSP_Tutorial.WASM.Data.DataTransferObjects.Major
@if (major == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <MudDialog>
        <DialogContent>
            <MudText Typo="Typo.h5" Style="font-weight: 500" Class="mt-2">Chi tiết chuyên ngành</MudText>
            <MudTextField @bind-Value="majorUpdate.Code" For="() => majorUpdate.Code" Label="Mã chuyên ngành"></MudTextField>
            <MudTextField @bind-Value="majorUpdate.Name" For="() => majorUpdate.Name" Label="Tên chuyên ngành"></MudTextField>

            @*<MudSelect T="EntityStatus" @bind-Value="majorUpdate.Status" Label="Trạng thái" For="() => majorUpdate.Status" AnchorOrigin="Origin.BottomCenter">
            <MudSelectItem Value="EntityStatus.Active">Hoạt động</MudSelectItem>
            <MudSelectItem Value="EntityStatus.InActive">Không hoạt động</MudSelectItem>
        </MudSelect>*@
        </DialogContent>
        <DialogActions>
            <MudButton Color="Color.Error" OnClick="OnClickCancel">Hủy</MudButton>
            <MudButton Color="Color.Primary" OnClick="Reset">Làm mới</MudButton>
            <MudButton Color="Color.Primary" OnClick="Updatemajor">Lưu</MudButton>
        </DialogActions>
    </MudDialog>
}

@code {

    [Parameter]
    public Guid idMajor { get; set; }

    [Parameter]
    public EventCallback onCloseUpdate { get; set; }

    [Inject]
    public IMajorRepository majorRepository { get; set; }

    [Inject]
    public IDialogService dialogService { get; set; }

    [Inject]
    public ISnackbar snackbar { get; set; }

    private readonly MajorUpdateRequest majorUpdate = new();
    private MajorDTO major;

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    void OnClickCancel()
    {
        MudDialog.Cancel();
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        major = await majorRepository.GetByIdAsync(idMajor);
        majorUpdate.Id = major.Id;
        majorUpdate.Name = major.Name;
        majorUpdate.Code = major.Code;
        majorUpdate.Status = major.Status;
    }


    private bool CheckChangeData()
    {
        return major.Name != majorUpdate.Name || major.Code != majorUpdate.Code || major.Status != majorUpdate.Status;
    }

    private async Task Updatemajor()
    {
        if (!CheckChangeData())
        {
            snackbar.Add("Không có thay đổi dữ liệu để cập nhật", Severity.Warning);
        }
        else
        {
            var confirm = await dialogService.ShowMessageBox
                (
                    "Thông báo",
                    (MarkupString)("<h2 style=\"font-weight: 500\">Thông báo</h2>" + "Xác nhận sửa chuyên ngành"),
                    "Xác nhận",
                    cancelText: "Hủy"
                );
            if (confirm == true)
            {
                var result = await majorRepository.UpdateAsync(majorUpdate);
                if (result.Success)
                {
                    OnClickCancel();
                    snackbar.Add("Sửa thành công", Severity.Success);
                }
                else
                {
                    snackbar.Add("Sửa thất bại" + "<br>" + result.Message, Severity.Error);
                }
            }
        }
    }

    private async Task Reset()
    {
        await LoadData();
    }

}